@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Drink: @Model.Name</h1>
<h2>Description: @Model.Description</h2>
<p>Category: @Model.Category</p>
<p>Price: $@Model.Price</p>
<p>Drink Number: @Model.Id</p>