@{
    ViewData["Title"] = "The Coffee Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Coffee Shop</h1>
    <h2>Click on <i>Products</i> to see our available drinks</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
